.container-form{
    width: 400px;
    background-color: #c1c1c1;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    color: #09102a;
}

.auth-form , .auth-form-title, .auth-form label {
    background-color: #c1c1c1;
}

.auth-input {
    width: 100%;
    margin-top: 3px;
    background-color: #2a2e32;
}
