.sidebar {
    /* border: 1px solid yellow; */
    width: 14rem;
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 8px 32px 0 rgb(27, 7, 2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
}

.menu-icon {
    /* border: 1px solid white; */
    display: flex;
    align-self: flex-end;
    border-radius: 5px;
    cursor: pointer;
}
.menu-icon:hover {
    transform: scale(1.3);
    background-color: rgba(255, 255, 255, 0.3);
    transition: all;
    transition-delay: .15s;
    transition-duration: .3s;
}

.profile {
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, .5);
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
    overflow: hidden;
    align-self: center;
}

.profile img {
    width: 100%;
}

.nicname {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.group-items {
    /* border: 1px solid dodgerblue; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
}

.item {
    display: flex;
    padding: 6px 10px 6px 10px;
    align-items: center;
    justify-content:flex-start;
    border-radius: 10px;
    cursor: pointer;
}
.item.active {
    cursor: default;
}

.item:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.3);
    transition: all;
    transition-delay: .15s;
    transition-duration: .2s;
}

.icon {
    margin-right: .5rem;
    margin-top: .3rem;    
}